<!DOCTYPE html>
<html>
<head>
	<title>TextChecker</title>
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'css/textChecker.css' %}">
	<!--[if IE]><link rel="stylesheet" href="{% static 'css/textCheckerIE.css' %}><![endif]-->
</head>
<body>
	<div class="topMenu">
	{% if user.is_authenticated %}
		<p>Cześć {{ user.username }} <small>(<a href="{% url 'logout' %}">Wyloguj</a>)</small></p>
	{% else %}
		<p>Zaloguj się lub zarejestruj aby personalizować listę wyszukiwanych błędnych słów i wyrażeń 
		<small>(<a href="{% url 'login' %}">Zaloguj</a>) (<a href="{% url 'register' %}">Zarejestruj</a>)</small></p>
	{% endif %}
	</div>
	<p id="inPursuitLink" class="imgLinks"><a href="http://www.inpursuit.pl/"><img src="{% static 'inpursuit.png' %}" alt="inpursuit.pl"></a></p>
	<p id="gitLink" class="imgLinks"><a href="https://github.com/InPursuitPL/Django-yourFinance"><img src="{% static 'github.png' %}" alt="GitHub"></a></p>
	<br>
	{% block content %}
	{% endblock %}
</body>
</html>
