{% if user.is_authenticated %}
	<p class="top-menu">Cześć {{ user.username }} <small>(<a href="{% url 'logout' %}">Wyloguj</a>)</small></p>
	<p class="top-menu">Poszerz listę wyszukiwanych błędów <small>(<a href="{% url 'add_wrong_words' %}">Kliknij</a>)</small></p>
{% else %}
	<p class="top-menu"> Zaloguj się aby poszerzyć listę wyszukiwanych błędów <small>(<a href="{% url 'login' %}">Zaloguj</a>)</small></p>
{% endif %}


<h3>Aplikacja sprawdzająca błędy takie jak:</h3>
<ul>
<li>małe litery po kropce</li>
<li>powtórzone wyrazy</li>
<li>wielokrotne spacje</li>
<li>błędne słowa i wyrażenia</li>
<li>słowa z brakującymi przecinkami</li>
</ul>
<h3>Co chciałbyś zrobić:</h3>

<a href="/text_input">Wklej tekst</a>
<p></p>
<a href="/file_input">Załaduj plik w formacie txt/docx/pdf</a>