{% extends 'textChecker/base.html' %}
{% block content %}
	<p><strong>Lista podstawowa: </strong></p>
	<div class="wordList">
		{{wrong_words}}
	</div>
	<p><strong>Dodane przez Ciebie: </strong></p>
	<div class="wordList">
		{{user_wrong_words}}
	</div>
	<br>
	<br>
	<form method="POST" class="post-form">
			{% csrf_token %}
			{{ form.as_table }}
				<button type="submit" class="save btn btn-default" >Zaladuj</button>
		</form>
	<br>
	<a href="/">Wróć do strony głównej</a>
{% endblock content %}